@page "/SegmentPage/{segmentId:int}/{categoryId:int}"
@using ValhallaVault.Models
@using ValhallaVault.Data
@inject ValhallaVault.Managers.GenericManager<SegmentModel> genericManager
@inject ValhallaVault.Managers.SubcategoryManager subcategoryManager
@inject AuthenticationStateProvider AuthenticationProvider
@inject ValhallaVault.Managers.UserManager usermanager
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject ValhallaVault.Managers.CompletedSubcategoryManager completedSubcategoryManager

@if (chosenSegment != null)
{
    <div class="card" style="background-color: rgba(0, 15, 89, 0.71); margin-top:1%;">
        <div class="card-body">
            <h5 class="card-title text-white font-monospace">Segments namn: @chosenSegment.SegmentName</h5>
        </div>
    </div>
}

@if (OpenSubcategories!=null && OpenSubcategories.Any())
{
    <h2 class="font-monospace">Öppna subkategorier</h2>
    foreach (var subcategory in OpenSubcategories)
    {
        <!-- Skicka vidare användaren till subkategorins sida med frågor.-->
        <a href="@($"QuestionPage/{segmentId}/{subcategory.Id}/{chosenCategory}")">@subcategory.SubCategoryName</a>
    }
}

@if (ClosedSubcategories != null && ClosedSubcategories.Any())
{
    <h2 class="font-monospace">Låsta subkategorier</h2>
    foreach (var subcategory in ClosedSubcategories)
    {
        <!-- Skicka inte vidare användaren till subkategorins sida med frågor.-->
        <p>@subcategory.SubCategoryName</p>
    }
}

    <a href="@($"CategoryPage/{chosenCategory}")">Tillbaka</a>



@code {

    public SegmentModel? chosenSegment { get; set; }
    List<(int, int, int)> UserCompletionIds = new List<(int, int, int)>();
    List<(int, int, int)> AllCompletionIds = new List<(int, int, int)>();
    public List<CompletedSubcategoryModel> CompletedSubcategories = new();
    public string? Name { get; set; }
    private AuthenticationState? State; // representerar autentiseringsstatusen för användaren
    public int chosenCategory { get; set; }
    public List<SubcategoryModel> OpenSubcategories { get; set; } = new();
    public List<SubcategoryModel> ClosedSubcategories { get; set; } = new();

    [Parameter]
    public int segmentId { get; set; }

    [Parameter]
    public int CategoryId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Hämta först den inloggade användaren
        State = await AuthenticationProvider.GetAuthenticationStateAsync();
        var user = State.User;
        Name = user.Identity.Name;

        var findtheUser = await usermanager.GetUserByNameAsync(Name);
        if (findtheUser != null)
        {
            // Hämta användarens alla godkända subkategorier
            var completedSubcategories = await completedSubcategoryManager.GetCompletedSubcategoriesByUserId(findtheUser.Id);
            if (completedSubcategories != null && completedSubcategories.Any())
            {
                foreach (var completedsub in completedSubcategories)
                {
                    // Skapa en ny tupel med de tre int-värdena
                    var completionId = (completedsub.CategoryId, completedsub.SegmentId, completedsub.SubcategoryId);
                    // Lägg till tupeln i listan
                    UserCompletionIds.Add(completionId);

                    CompletedSubcategories.Add(completedsub);

                }
            }
        }

        // Hämta det aktuella segmentet 
        var segment = await genericManager.GetByIdAsync(segmentId);
        if (segment != null)
        {
            chosenSegment = segment;
            chosenCategory = segment.CategoryId;

            // Hämta alla subkategorier i segmentet 
            var allSubcategories = await subcategoryManager.GetSubcategoriesBySegmentIdAsync(segmentId);
            if (allSubcategories != null)
            {
                foreach (var subcategory in allSubcategories)
                {
                    // Skapa en ny tupel med de tre int-värdena
                    var completionId = (subcategory.Segment.CategoryId, subcategory.SegmentId, subcategory.Id);
                    // Lägg till tupeln i listan
                    AllCompletionIds.Add(completionId);

                    int currentSubcategoryId = subcategory.Id;
                    int previousSubcategoryId = currentSubcategoryId - 1;

                    if (currentSubcategoryId==1)
                    {
                        OpenSubcategories.Add(subcategory); // subkategorin med id = 1 ska alltid vara öppen. 
                    }
                    if (previousSubcategoryId>0)
                    {
                        var tupleToCheck = (subcategory.Segment.CategoryId, subcategory.SegmentId, previousSubcategoryId);

                        // Länka bara till subkategorin om den tidigare subkategorin finns bland användarens avklarade subkategorier.
                        if (UserCompletionIds.Contains(tupleToCheck))
                        {
                            // Lägg till den aktuella subkategorin i listan över öppna subkategorier
                            OpenSubcategories.Add(subcategory);
                        }

                        else if (!UserCompletionIds.Contains(tupleToCheck)) // om användaren inte klarat av den tidigare kategorin, lägg i den stängda subkategori-listan
                        {
                            ClosedSubcategories.Add(subcategory);
                        }
                    }
                   
                 
                }
            }

        }

       
    }
}
    

